* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html {
  color: #313335;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  height: 100%;
}

:root {
  background-color: #CACCCE;
  height: 100vh;
}
